.r_1{
    /*height:160px;*/
    margin-top:5px;
}
.preseta{
    widthL:40%;
    height:90px;
    border: 1px solid;
    overflow-y:scroll;
}
.progress{
    margin-top:10px;
}
.codice{
    width:300px;
    border:1px solid black;
    margin:2px;
    height:40px;
    background-color: white;

}
.border{
    border:1px solid black;
}